@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Jost:wght@200;300;400;500;600;700&family=Montserrat:wght@300;400;500;600&family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cormorant Garamond", serif;
  font-family: "Jost", sans-serif;
  height: 100vh;
  overflow-x: hidden;
}



section {
  overflow-x: hidden;
}

li {
  list-style: none;
}

li a {
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

/* ********************* Header Css **************** */

.top_header {
  padding: 0 10rem;
}

.top_header .logo {
  align-items: center;
  text-align: center;
}

.header_contact {
  display: flex;
}

.header_contact .contact {
  padding: 0px;
  margin: 0px;
  line-height: 0;
  position: relative;
  top: 0;
  left: 5px;
  margin: -2px 9px;
}

.header_contact .contact p.number {
  font-size: 26px;
  font-weight: 800;
}

.header_contact .contact p.call_us {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.logo img {
  width: 18rem;
}

.social {
  float: right;
}

.social .social_icon {
  padding: 2px;
}




/* ************************ Navbar Css ************************ */
.navbar {
  background-color: #e9b61c !important;
}

ul.navbar-nav.mr-auto {
  align-items: center;
  /* background: #212121; */
  display: flex;
  justify-content: space-between;
  /* height: 27px !important; */
}

.navbar .nav-item a {
  color: #fff !important;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  font-family: jost !important;
}

.active {
  background-color: #a51d23;
  padding-left: 40px !important;
  padding-right: 40px !important;
  color: white;
}

/* ********************* Header Slider **************** */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* GLOBAL STYLES
    --------------------------------------------- */
/* Padding below the footer and lighter body text */

/* CUSTOMIZE THE CAROUSEL
    -------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.menu .carousel-caption {
  bottom: 11rem;
  z-index: 10;
  font-family: "Cormorant Garamond";
}

.menu .carousel-caption h1 {
  font-size: 58px;
  user-select: none;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* MARKETING CONTENT
  -------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

/* Featurettes
  ------------------------- */

.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

/* About css  */
.about_section {
  margin-bottom: 3rem;
}

.about_section h3 {
  font-size: 28px;
  color: #a51d23;
  font-weight: 600;
}

.separator {
  display: flex;
  align-items: center;
}

.separator .line {
  height: 3px;

  background-color: #a5252c;
  width: 8rem;
}

.separator h3 {
  padding: 0px 15px 0px 0px;
  margin-bottom: 2px;
}

.about_section h2 {
  font-size: 50px;
  font-family: Cormorant Garamond;
  font-weight: 700;
}

.about_section p {
  font-size: 19px;
  line-height: 28px;
}

.about_img img {
  width: 100%;
  flex-basis: fit-content;
  background-size: cover;
  height: 467px;
}

/* Menu css */
.bg_gray {
  width: 100%;
  background-color: #f8f8f8;
}

.menu_section {
  width: 100%;
}

.menu_heading h1 {
  text-align: center;
  font-family: Cormorant Garamond;
  font-weight: 600;
  font-size: 62px;
  padding: 40px 0 10px;
}

.menu_section img {
  width: 100%;
}

.menu_section .arrow,
.menu_section .arrow1 {
  width: 30px;
  height: 30px;
}

.menu_footer1 {
  display: flex;
  background-color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 2px 10px;
  line-height: 39px;
  height: 50px;
}

.menu_footer {
  display: flex;
  background-color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 0px 10px;
  line-height: 39px;
  height: 41px;
}

.menu_section .arrow {
  margin-left: 41px;
}

.menu_section .first_menu,
.menu_section .second_menu {
  margin-bottom: 30px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transition: 0.3s;
}

.menu_section .left_menu {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transition: 0.9s;
}

.menu_section .first_menu:hover,
.menu_section .second_menu:hover,
.menu_section .left_menu:hover {
  transform: scale(1.1);
}

/* contact form css */
.contact_form {
  position: relative;
  /* height: 80vh; */
}

.contact_form .contact_heading {
  text-align: center;
  font-family: Cormorant Garamond;
  font-weight: 600;
  font-size: 56px;
  padding: 40px 0 10px;
}

.contact_form img {
  width: 100%;
}

.contact_form .form {
  position: absolute;
  top: 0;

  width: 100%;
  padding: 49px 74px 0px 45px;
}

.contact_form .form-control {
  padding-left: 40px;
}

.contact_form .form-group {
  position: relative;
}

.contact_form .form-group span {
  position: absolute;
  top: 7px;
  left: 10px;
  border-right: 2px solid #6c757d;
  width: 5%;
}

.contact_form input::placeholder {
  font: 12px/3 "Jost";
}

.contact_form textarea::placeholder {
  font: 12px/2 "Jost";
}

.contact_form .form-group span i {
  font-size: 14px;
  color: #6c757d;
}

.contact_form button {
  width: 45%;
  padding: 7px;
  background: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid;
  cursor: pointer;
}

/* .width="550" height="395"  */
.map_image {
  width: 550px;
  height: 395px;
}

/* Testimonial */

.testimonials_section {
  position: relative;
  padding: 65px 0px 10px;
  width: 100%;
  overflow-x: hidden;
}

.testimonials_section .testimonial_banner {
  width: 100%;
  /* height: 75%; */
}
.testimonials_username {
  color: #a51d23;
  font-family: "Cormorant Garamond";
  font-size: 20px;
}

/* Top reviews css */

.top_review {
  position: relative;
}

.top_review img.top_review_patti {
  width: 100%;
  height: 100px;
}

.top_review .top_review_inner {
  text-align: center;
  padding: 15px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.top_review .top_review_inner img {
  height: 80px;
}

.top_review .top_review_inner a {
  text-decoration: none;
  background-color: #e9b61c;
  color: #fff;
  margin-left: -11px;
  padding: 5px 12px;
}

.gallery .gallery_heading h1 {
  text-align: center;
  font-family: Cormorant Garamond;
  font-weight: 600;
  font-size: 62px;
  padding: 40px 0 10px;
}

.gallery .gallery_section {
  padding-bottom: 36px;
}

.gallery .gallery_section img {
  width: 100%;
  transition: 0.9s;
}

.gallery .gallery_section .gallery_bottom_img {
  margin-top: 30px;
}

.gallery .gallery_section .gallery_center_img {
  margin-top: -15px;
}

.gallery .gallery_section img:hover {
  transform: scale(1.1);
}

/* footer section start here */
.footer_section {
  background-color: #000;
  color: #fff;
  padding: 60px;
  position: relative;
}

.footer_section .line {
  position: absolute;
  font-size: 20px;
  border-bottom: 2px solid white;
  width: 27px;
  font-weight: 500;
  top: 33px;
}

.footer_section .fa-thin {
  font-weight: 500;
  font-size: 22px;
}

.footer_section p.footer_heading {
  font-size: 20px;

  font-weight: 500;
}

.footer_section .hr_line {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgb(255 255 255 / 40%);
}

.footer_section .vertical_line {
  border-right: 1px solid rgb(255 255 255 / 40%);
  width: 97%;
}


.footer_section .footer_back_icon {
  transform: rotate(180deg);
}

/* footer section end here */

/* Menu Css */
.menu_item1 {
  position: relative;


}

.menu_item2 {
  position: relative;
  margin-top: 54px;
}

.menu_heading {
  font-size: 58px;
  font-weight: bold;
  font-family: 'Cormorant Garamond';
  margin-top: -15px;
}

.menu_content {
  margin-bottom: 1rem;
}

.menu_item1 p,
.menu_item2 p {
  margin-bottom: 0px;
}

.line1 {
  margin-bottom: 8px;
  width: 50%;
}

.menu_content .menu_small_des {
  color: #666666;
}

.line2 {
  position: absolute;
  /* top: 34px; */
  margin-top: 14px;
  left: 132px;
  width: 50%;
}

.menu_price {
  font-weight: 400;
  color: #a61d24;
}

.right_menu_img img {
  width: 500px;
  height: 350px;
}

.left_menu_bg_grey {
  background: #f8f8f8;
  padding: 31px 0px;
}

p.opening_days {
    margin-top: 10px;
}

/* RESPONSIVE CSS
  -------------------------------------------------- */

@media (min-width: 40em) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.slider-three {
  animation: slider-three 12s linear infinite;
}




/**
 * https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
 *
 *
 */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

  .header_contact img {
    width: 15px !important;
  }


  /* Styles */
  ul.navbar-nav.mr-auto {
    height: auto !important;
  }



}


@media only screen and (max-width : 360px) {

  .header_logo{
    padding-left: 0px !important;
  }

  .header_contact img {
    width: 15px !important;
  }


  /* Styles */
  ul.navbar-nav.mr-auto {
    height: auto !important;
  }

  .responsive-map{
 margin-top: 20px;
  }

  .map_image{
    width: 330px !important;
   
  }



}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 375px) {


.top_header {
    padding: 0px 0px !important;
}

.top_header .row {
  
    flex-wrap: inherit !important;
  
}

  .header_contact img {
    width: 25px !important;
  }

  .header_contact .contact {   
    left: 5px!important;
    margin: 0px 2px !important;
}

.header_contact .contact p.call_us {
  
    font-size: 9px !important;
    line-height: 5px !important;
}
.header_contact .contact p.number {
    font-size: 12px !important;

}

  /* Styles */
  ul.navbar-nav.mr-auto {
    height: auto !important;
  }

  .logo img {
    width: 6rem !important;
}

  .social .social_icon {
    /* padding: 2px; */
  width: 25px !important;
}


/* Menu section */

.menu_heading h1 {
    
    font-size: 35px;
    padding: 10px 0 10px;
}


.menu_section .first_menu, .menu_section .second_menu {
    margin-bottom: 20px;
    transition: 0.3s;
}

.menu_section .arrow {
    margin-left: 38px !important;
}

.menu_section .left_menu .left_menu_img{
  height: 250px ;
}

.menu_section .left_menu  .menu_footer1 {
   
    margin-bottom: 20px;
}

/* contact us section */
.contact_form .contact_heading {
   
    font-size: 35px;
    padding: 2px 0 10px;
}
.contact_form .form {
    width: auto;
    padding: 5px 75px 0px;
}
.contact_form .form-group {
    position: relative;
    margin-bottom: 0px !important;
}
.contact_form .form-control {
   
    padding: 5px 0 0 40px;
    margin-bottom: 8px;
}
.contact_form .form-group span {
    position: absolute;
    top: 5px;
    left: 10px;
    border-right: 2px solid #6c757d;
    width: 10%;
}
.contact_form button {padding: 5px; font-size: 15px;}
 
  .menu_section .arrow {
    margin-left: 37px !important;
}
      /* margin-left: 37px !important; */


  /* Testimonial CSS */
  .testimonials_section {
   
    padding: 0px;
  
   
    height: 100%;
   
    overflow-y: hidden;
}


  .slide-container {
    max-width: 1120px;
    width: 100%;
    padding: 28px 0;
    margin-top: 10px;
}

.card.swiper-slide {
    width: 210px !important;
    margin-right: 11px !important;
}

.image-content, .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0px 0px;
}

.swiper-slide .image {
    width: 70px;
    height: 70px;
   
    top: 5px;
}

.top_review .top_review_inner img {
    height: 60px;
}
  /* Gallery section  */

  .gallery .gallery_heading h1 {
  
    font-size: 35px;
    padding: 56px 0 10px;
}

}



@media only screen and (min-width: 375px) {
  .logo img {
    width: 7rem !important;
  }
  .header_contact .contact p.number {
    font-size: 15px;
}
.social .social_icon {
    padding: 0px;
    width: 23px ;
}
.header_contact img {
    width: 26px ;
}

  .menu_section .arrow {
    margin-left: 37px !important;
}
  .contact_form .form-group span {
    position: absolute;
    top: 7px;
    left: 10px;
    border-right: 2px solid #6c757d;
    width: 8%;
}
.contact_form .form-group {
    position: relative;
    margin-bottom: 4px !important;
}
  .map_image{
    width: 348px !important;
    overflow: hidden;
  }

  .testimonials_section .testimonial_banner {
    width: 100%;
    height: 400px;
}

.slide-container {
    max-width: 1120px;
    width: 100%;
    padding: 26px 0;
    overflow-y: hidden;
    margin-top: 0px;
}
.testimonials_section .testimonials_heading {
   color: #fff;
    font-family: Cormorant Garamond;
    text-align: center;
    margin: 73px 0 0px 0px !important;
    font-size: 30px !important;
}
.swiper-slide .image {
    width: 70px;
    height: 70px;
    top: 4px;
}
.quotes img {
    width: 40px;
}

}


@media only screen and (min-width : 390px) {

  .header_logo{
    padding-left: 0px !important;
  }

  .header_contact img {
    width: 15px !important;
  }

  .logo img {
    width:7rem !important;
  }

  /* Styles */
  ul.navbar-nav.mr-auto {
    height: auto !important;
  }

  .responsive-map{
 margin-top: 20px;
  }

  .map_image{
    width: 330px !important;
   
  }



}

@media only screen and (max-width : 414px) {
  /* Styles */
   .header_logo{
    padding: 0px !important;
  }
  .header_contact .contact {
    left: 4px !important;
    margin: 0px !important;
}
.header_contact img {
    width: 24px !important;
}
  .header_contact .contact p.call_us {
    font-size: 11px !important;
    line-height: 9px !important;
}
.header_contact .contact p.number {
    font-size: 14px !important;
}
.logo img {
    width: 6rem ;
}
.social .social_icon {
    padding: 0px;
    width: 24px !important;
}

.menu_section .arrow {
    margin-left: 54px ;
}
.contact_form .form {
   
    padding: 7px 74px 0px 45px;
}

.form-control {
  
    padding: 5px;
    font-size: 1rem;
   
}
.contact_form .form-group {
    position: relative;
    margin-bottom: 8px;
}
.contact_form button {
  
    padding: 4px;
   
    font-size: 18px;
    
}
.testimonials_section .testimonial_banner {
    height: 370px !important;
    overflow: hidden;
}


.image-content, .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 54px 14px 10px;
}

}

@media only screen and (min-width : 414px) {
 
  .header_contact {
    display: flex;
    padding-left: 10px;
}
 .header_contact .contact {
    left: 4px !important;
    margin: 0px !important;
}
.header_contact img {
    width: 24px !important;
}
  .header_contact .contact p.call_us {
    font-size: 11px !important;
    line-height: 9px !important;
}
.header_contact .contact p.number {
    font-size: 14px !important;
}
.logo img {
    width: 6rem !important;
}
.social .social_icon {
    padding: 0px;
    width: 24px !important;
}
.menu_section .arrow {
    margin-left: 54px !important;
}
.contact_form .form {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 11px 77px 0px 40px;
}
.contact_form .form-group {
    position: relative;
    margin-bottom: 10px;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0px 0 7px 0px;
}
.contact_form .form-group span {
    position: absolute;
    top: 7px;
    left: 10px;
    border-right: 2px solid #6c757d;
    width: 6%;
}
.contact_form button {
    width: 45%;
    padding: 5px;
    background: transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid;
    cursor: pointer;
}
.map_image{
  margin-top: 20px !important;
  width: 385px !important ;
}
}


@media only screen and (max-width : 540px) {
.top_header {
    padding: 0px;
}
.top_header .row {
  
    flex-wrap: inherit;
  
}
.header_contact img{
      width: 30px;
}
 
.header_contact .contact {
   
    
    left: 5px;
    margin: 0px;
}

.header_contact .contact p.call_us {
 
    font-size: 17px;
    line-height: 12px;
}

.header_contact .contact p.number {
    font-size: 20px;
   
}
.logo img {
    width: 10rem;

}

.social .social_icon {
    padding: 0px;
    width: 30px;
}



/* Menu Css */
.menu_heading h1 {
   
    font-size: 45px;
    padding: 0px 0 10px;
}
img.left_menu_img {
    height: 350px;
}


.menu_footer1 {
   
    margin-bottom: 30px;
}
.menu_section .arrow {
    margin-left: 108px;
}


/* Contact Css */
.contact_form .contact_heading {
  
  font-size: 45px;
  padding: 0px 0 10px;}

.map_image{
  width:510px ;
}

.gallery .gallery_heading h1 {
  
    font-size: 45px;
    padding: 26px 0 10px;
}


/* Testimonial Css */
.testimonials_section .testimonial_banner {
  
    height: 360px;
    overflow: hidden;
}



.swiper-slide .image {
    width: 80px;
    height: 80px;
    
    top: 8px;
}


.top_review .top_review_inner img {
    height: 40px;
}
.top_review .top_review_inner a {
   
    padding: 5px 10px;
    font-size: 14px;
}

}



@media only screen and (max-width : 912px) {
   .testimonial_body{
     top: 0px !important;
   }

  .swiper-button-prev,  .swiper-button-next {
    display: none;
}



}

@media only screen and (min-width : 1024px) {
   .testimonial_body{
     top: 0px !important;
   }

  .swiper-button-prev,  .swiper-button-next {
   margin-top: 0rem;
}



}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  ul.navbar-nav.mr-auto {
    height: auto !important;
  }
   .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

  /* Styles */

  .navbar {
    background-color: #e9b61c !important;
    height: 44px;

  }
  .menu_section .arrow {
    margin-left: 14px;
}

.menu_section .first_menu, .menu_section .second_menu {
    margin-bottom: 20px;
  
}
.contact_form .form {
   
    padding: 18px 74px 0px 45px;
}
  .map_image {
    width: 350px !important;
    height: 330px !important;
  }
  .testimonial_body {
   
    width: 80%;
    
    top: 1%;
}

    .swiper-button-next {
    right: 1rem;
    margin-top: 1rem;
}

  .swiper-button-prev {
    left: 1rem;
    margin-top: 1rem;
}


}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {



  .top_header_section{
    margin-bottom:1rem;
  }

  /* Styles */
  ul.navbar-nav.mr-auto {
    height: auto !important;
  }

  .header_contact .contact {
    padding: 0px;
    margin: 0px;
    line-height: 0;
    position: relative;
    top: 0;
    left: 5px;
    margin: -2px 0px;
  }

  .header_contact img {
    width: 28px !important;
  }

.header_contact .contact p.call_us {
    font-weight: 400;
    font-size: 15px !important;
    line-height: 22px !important;
    margin-bottom: 0px;
}

  .header_contact .contact p.number {
    font-size: 17px !important;
    font-weight: 800;
    margin-bottom: 0px;
  }

  .social .social_icon {
    width: 27px !important;
  }

  .logo img {
    width: 7rem !important;
  }

  .map_image {
    width: 350px !important;
    height: 300px !important;
  }

  .separator .line {
    height: 2px;
    background-color: #a5252c;
    width: 8rem;
  }

  .separator h3 {
    padding: 0px 10px 0px 0px;
    margin-bottom: 0px;
  }

  .about_section h3 {
    font-size: 25px;
    color: #a51d23;
    font-weight: 600;
  }

  .about_section h2 {
    font-size: 35px;
    font-family: Cormorant Garamond;
    font-weight: 700;
  }

  .about_section p {
    font-size: 15px;
    line-height: 22px;
  }

  .about_img img {
    width: 100%;
    flex-basis: fit-content;
    background-size: cover;
    height: 300px;
  }

  .menu_heading h1 {
    text-align: center;
    font-family: Cormorant Garamond;
    font-weight: 600;
    font-size: 45px;
    padding: 17px 0 2px;
  }

  .menu_footer1 {
    display: flex;
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 2px 10px;
    line-height: 36px;
    height: 38px;
  }

  .menu_section .arrow {
    margin-left: -10px;
  }

  .menu_footer {
    display: flex;
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 0px 10px;
    line-height: 44px;

  }

  .menu_section .arrow,
  .menu_section .arrow1 {
    width: 22px;
    height: 22px;
  }

  .menu_section .first_menu,
  .menu_section .second_menu {
    margin-bottom: 21px;
    width: 90%;
  }

  .contact_form .contact_heading {
    text-align: center;
    font-family: Cormorant Garamond;
    font-weight: 600;
    font-size: 45px;
    padding: 0px 0 10px;
  }

  .contact_form .form-control {
    padding: 0px 33px;
  }

  .contact_form .contact_img {
    width: 100%;
    height: 98%;
  }

  .contact_form img {
    width: 100%;
    height: 100%;
  }

  .contact_form .form-group span {
    position: absolute;
    top: 2px;

    left: 10px;
    border-right: 2px solid #6c757d;
    width: 8%;
  }

  .contact_form .form-group span i {
    font-size: 12px;
    color: #6c757d;
  }

  .contact_form .form {
    padding: 22px 74px 0px 45px;
  }

  .contact_form button {

    font-size: 16px;

  }

  /* Testimonial */


  .testimonials_section {
    position: relative;
    overflow-y: hidden;
    padding: 25px 0px 10px;
  }

  .testimonials_section .testimonial_banner {
    width: 100%;
    height: 400px;
  }

  .testimonials_section .testimonials .testimonials_heading {
    color: #fff;
    font-family: Cormorant Garamond;
    text-align: center;
    margin: 15px 0 0px 0px;
    font-size: 45px;
  }


  .gallery .gallery_heading h1{
    font-size: 45px;
  }

  .footer_section .footer_back_icon {
    transform: rotate(180deg);
    width: 20px;
}


  .footer_section li span {
   font-size: 10px;
   margin-right: 0px !important;
}

.footer_section li a {
   font-size: 10px;
   
}

.footer_section p.footer_heading {
    font-size: 11px;
    font-weight: 500;
}

 .footer_section .vertical_line i{
  margin-left: 0px !important;
}
 .footer_section .vertical_line p.address_details, p.number, p.email ,p.opening_days, p.opening_timing,p.close_day {
    font-size: 10px;   
    margin-top: 5px;
}
 .footer_section .email_body,  .footer_section .number_body{
   padding: 0px;
 }
 
}



/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {

  /* Styles */
  ul.navbar-nav.mr-auto {
    height: 27px !important;
  }

.testimonial_body{
  top: 12% !important;
  width: 80%;
}

  .swiper-button-prev{
   
    left: 1rem;
    margin-top: 0rem;

  }
   .swiper-button-next {
    right: 1rem;
    margin-top: 0rem;
}
   

}


@media only screen and (min-width :1280px) {
  .logo img {
    width: 10rem ;
}
.header_contact img {
    width: 33px !important;
}
.header_contact .contact p.number {
    font-size: 20px !important;
}
.header_contact .contact p.call_us {
    font-size: 17px !important;
    line-height: 16px !important;
}
.social .social_icon {
    padding: 0px;
    width: 33px !important;
}
.testimonial_body {
    top: 0% !important;
    width: 80%;
}
  
}

@media only screen and (min-width : 1440px) {
  .testimonials_section .testimonial_banner {
    width: 100%;
    height: 450px;
}
  .testimonial_body {
    top: 0% !important;
    width: 80%;
}
  .testimonials_section  .testimonials_heading {
  color: #fff;
  font-family: Cormorant Garamond;
  text-align: center;
  /* margin: 40px 0 25px 0px !important; */
  font-size: 56px !important;
}

 .swiper-button-next{ 
  right: 5rem;
    margin-top: 2rem;
   
    width: 50px;
    height: 50px;
    border-radius: 100%;
    opacity: 0.8;
}
.swiper-button-prev{ 
  left: 5rem;
    margin-top: 2rem;
   
    width: 50px;
    height: 50px;
    border-radius: 100%;
    opacity: 0.8;
}
.map_image{
  width: 540px !important;
}
}
/* Large screens ----------- */
@media only screen and (min-width : 1824px) {

  .logo img {
    width: 10rem !important;
}
.header_contact img {
    width: 30px !important;

}
.header_contact .contact p.call_us {
    font-size: 15px !important;
    line-height: 15px !important;
}
.header_contact .contact p.number {
    font-size: 21px !important;
}
.social .social_icon {
    /* padding: 0px; */
    width: 33px !important;
}
  /* Styles */
  ul.navbar-nav.mr-auto {
    height: 27px !important;
  }

.testimonial_body{
  /* top: 20% !important; */
  width: 80%;
}

  .swiper-button-prev{
   
    left: 15rem;
   

  }
   .swiper-button-next {
    right: 15rem;
    
}

}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  /* Styles */
}