* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.testimonial_body {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 58%;
    background: transparent;
}


.swiper-cards .swiper-slide {
    overflow: visible;
}

.swiper-slide .img-1 {
    /* background-image: url('../images/pic-1.png'); */
    background-color: #a61d24;
}

.quotes {
    text-align: center;
    margin-top: 15px;
}

.quotes img {
    width: 45px;
}

.swiper-slide .image {
    width: 85px;
    height: 85px;
    border: 5px solid #492408;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0px;
}

.slide-container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0 !important;
    margin-top: 20px;
}


.card {

    border-radius: 15px;
    background-color: #fff;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 14px 10px;
    height: 340px;
}

.card-content p {
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
}

.image-content {
    row-gap: 5px;
}

.rating {
    color: #ffc107;
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #fff;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgb(226, 16, 16)
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.button {
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #4070f4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s
}

.button:hover {
    background: #265d26;
}

.swiper-navBtn {
    color: #fff;
    background: #403e3e;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    opacity: 0.8;
}

.swiper-navBtn:hover {
    color: #fff;
    background: #403e3e;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    opacity: 0.8;
}

.swiper-button-next {
    right: 15rem;
}

.swiper-button-prev {
    left: 15rem;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-family: swiper-icons;

    font-size: 18px !important;
    font-weight: 800 !important;
}

@media only screen and (max-width:1024px) {

    .image-content,
    .card-content {
        height: auto;
        text-align: center;
    }
}

@media screen and (max-width:820px) {
    .testimonial_body {
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        width: 58%;
        background: transparent;
        top: 0%;
    }

    .slide-content {
        margin: 0 10px;
    }

    .swiper-navBtn {
        display: none;
    }

}

@media screen and (max-width:768px) {
    .testimonial_body {
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        width: 58%;
        background: transparent;
        top: 0%;
    }



    .slide-content {
        margin: 0 10px;
    }

    .swiper-navBtn {
        display: none;
    }

}